data/raw/
*.graphml
*.zip
*.tar.gz

!data/processed/
!data/processed/*.csv
!data/processed/*.graphml


.venv/
venv/
env/
.python-version


__pycache__/
*.py[cod]
*$py.class
*.so


.ipynb_checkpoints/


.vscode/
.idea/
.DS_Store
*.swp
*.swo:
